<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-priorite-heading" data-cy="PrioriteCreateUpdateHeading" jhiTranslate="esacpApp.priorite.home.createOrEditLabel">
        Create or edit a Priorite
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="esacpApp.priorite.priorite" for="field_priorite">Priorite</label>
          <input type="text" class="form-control" name="priorite" id="field_priorite" data-cy="priorite" formControlName="priorite" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="esacpApp.priorite.accrPriorite" for="field_accrPriorite">Accr Priorite</label>
          <input
            type="text"
            class="form-control"
            name="accrPriorite"
            id="field_accrPriorite"
            data-cy="accrPriorite"
            formControlName="accrPriorite"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
