<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pieceJointes">
      <h2 data-cy="pieceJointesDetailsHeading"><span jhiTranslate="esacpApp.pieceJointes.detail.title">Piece Jointes</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pieceJointes.id }}</span>
        </dd>
        <dt><span jhiTranslate="esacpApp.pieceJointes.pj">Pj</span></dt>
        <dd>
          <span>{{ pieceJointes.pj }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/piece-jointes', pieceJointes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
