<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="priorite">
      <h2 data-cy="prioriteDetailsHeading"><span jhiTranslate="esacpApp.priorite.detail.title">Priorite</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ priorite.id }}</span>
        </dd>
        <dt><span jhiTranslate="esacpApp.priorite.priorite">Priorite</span></dt>
        <dd>
          <span>{{ priorite.priorite }}</span>
        </dd>
        <dt><span jhiTranslate="esacpApp.priorite.accrPriorite">Accr Priorite</span></dt>
        <dd>
          <span>{{ priorite.accrPriorite }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/priorite', priorite.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
