<div>
  <h2 id="page-heading" data-cy="FicheSuiviSanteHeading">
    <span jhiTranslate="esacpApp.ficheSuiviSante.home.title">Fiche Suivi Santes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="esacpApp.ficheSuiviSante.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fiche-suivi-sante"
        [routerLink]="['/fiche-suivi-sante/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="esacpApp.ficheSuiviSante.home.createLabel"> Create a new Fiche Suivi Sante </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ficheSuiviSantes?.length === 0">
    <span jhiTranslate="esacpApp.ficheSuiviSante.home.notFound">No ficheSuiviSantes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ficheSuiviSantes && ficheSuiviSantes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="suiviIndividuel">
            <span jhiTranslate="esacpApp.ficheSuiviSante.suiviIndividuel">Suivi Individuel</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="medecinDuTravail">
            <span jhiTranslate="esacpApp.ficheSuiviSante.medecinDuTravail">Medecin Du Travail</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateDeCreation">
            <span jhiTranslate="esacpApp.ficheSuiviSante.dateDeCreation">Date De Creation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datededebutAT">
            <span jhiTranslate="esacpApp.ficheSuiviSante.datededebutAT">Datededebut AT</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datedefinAT">
            <span jhiTranslate="esacpApp.ficheSuiviSante.datedefinAT">Datedefin AT</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="propositionMedecinDuTravail">
            <span jhiTranslate="esacpApp.ficheSuiviSante.propositionMedecinDuTravail">Proposition Medecin Du Travail</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="aRevoirLe">
            <span jhiTranslate="esacpApp.ficheSuiviSante.aRevoirLe">A Revoir Le</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="typeAt.typeAt">
            <span jhiTranslate="esacpApp.ficheSuiviSante.typeAt">Type At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ficheSuiviSante of ficheSuiviSantes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fiche-suivi-sante', ficheSuiviSante.id, 'view']">{{ ficheSuiviSante.id }}</a>
          </td>
          <td>{{ ficheSuiviSante.suiviIndividuel }}</td>
          <td>{{ ficheSuiviSante.medecinDuTravail }}</td>
          <td>{{ ficheSuiviSante.dateDeCreation | formatMediumDate }}</td>
          <td>{{ ficheSuiviSante.datededebutAT | formatMediumDate }}</td>
          <td>{{ ficheSuiviSante.datedefinAT | formatMediumDate }}</td>
          <td>{{ ficheSuiviSante.propositionMedecinDuTravail }}</td>
          <td>{{ ficheSuiviSante.aRevoirLe | formatMediumDate }}</td>
          <td>
            <div *ngIf="ficheSuiviSante.typeAt">
              <a [routerLink]="['/type-at', ficheSuiviSante.typeAt?.id, 'view']">{{ ficheSuiviSante.typeAt?.typeAt }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fiche-suivi-sante', ficheSuiviSante.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fiche-suivi-sante', ficheSuiviSante.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ficheSuiviSante)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ficheSuiviSantes && ficheSuiviSantes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
