<div class="card-group">
  <div class="card carreAction">
    <p class="texteActionTop">Créer PQA</p>
  </div>
  <div class="card carreAction">
    <p class="texteActionTop">Créer rapport AT</p>
  </div>
  <div class="card carreAction">
    <p class="texteActionTop">Créer plan d'action</p>
  </div>
</div>

<div class="card-group">
  <div class="card carreAction">
    <p class="texteActionBottom">Consulter plan d'actions</p>
  </div>
  <div class="card carreAction">
    <p class="texteActionBottom">Consulter liste rapports</p>
  </div>
  <div class="card carreAction">
    <p class="texteActionBottom texteActionBottomRedimension">Consulter actions mois en cours / dépassées</p>
  </div>
  <div class="card carreAction">
    <p class="texteActionBottom">Consulter statistiques</p>
  </div>
</div>
